.NF {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: transparent;
    object-fit: contain;
}
.NF > h2 {
    font-size: 30px;
    color: aliceblue;
}

.NF > link :hover
{
 color: red; 
}
.NF > h1{
    color: white;
}
