
#headerbg{ background-color: rgb(12, 180, 213);}
#headerbg{ text-align: center;}
#headerbg{ padding: 20px;}
#footerbg{ background-color: rgb(165, 221, 12);}
#footerbg{ text-align: center;}
#footerbg{ width: 100%;}
#footerbg{ position: absolute;}
#footerbg{ padding: 10px;}
#footerbg { bottom: 0;}