


#headerbg{ background-color: cadetblue;}
#footerbg{ background-color: chocolate;}


html, body {
  background: #f1f1f1;
  padding: 1em;
}

h1 {
   text-align: center;
   color: #a8a8a8;
   text-shadow:(1px 1px 0 rgba(white, 1));
}

form {
   max-width: 600px;
   text-align: center;
   margin: 20px auto;
  
  input, textarea {
     border:0; outline:0;
     padding: 1em;
     border-radius:(8px);
     display: block;
     width: 100%;
     margin-top: 1em;
     box-shadow:(0 1px 1px rgba(black, 0.1));
     resize: none;
    
    
  }
  
  #input-submit {
     color: white; 
     background: rgb(0, 153, 255);
     cursor: pointer;
    
   
  }
  
  textarea {
      height: 126px;
  }
}



