.contact-us-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57vh;
}

h2 {
    font-weight: 600;
}

header {
    padding: 10px;
}

footer {
    padding: 10px;
}

@media screen and (min-width: 480px) {
    body {
        background-color: #00C9FF;
    }

    .contact-us-content-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-us-text {
        font-size: 20px;
        font-weight: 600;
        width: 400px;
        color: #055778;
    }

    .contact-us-text::before {
        content: "(screen for phones) ";
    }

    footer {
       display: flex;
       flex-flow: row;
    }

    .footer-contact {
        width: 50%;
    }

    .footer-navigation {
        width: 50%;
    }
  }


  @media screen and (min-width: 760px) {
    .contact-us-content-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

   body {
    background-color: #0B8ACA;
   }

   .contact-us-text {
        font-size: 20px;
        font-weight: 600;
        width: fit-content;
        color: #A2E8FF;
    }

    .contact-us-text::before {
        content: "(screen for tablets) ";
    }
  }



  @media screen and (min-width: 1020px) {
    body {
     background-color: #0A4BA2;
    }

    .contact-us-content-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-us-text {
        font-size: 20px;
        font-weight: 600;
        width: fit-content;
        color: white;
    }

    .contact-us-text::before {
        content: "(screen for desktop) ";
    }
   }