@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.container{
    background:linear-gradient(45deg, blueviolet, lightgreen);
    padding:15px 9%;
    padding-bottom: 100px;
}

.container .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}

.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
}

.container .box-container .box img{
    height: 80px;
}

.container .box-container .box h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}

.container .box-container .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}

.container .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.cart2 {
    background:#ffffff;
    color:#fff;
    margin-left: 10px;
}

.cart-button {
    display: inline-block;
    cursor: pointer; /* Display pointer cursor on hover */
    text-decoration: none; /* Remove default underline */
    margin-top: 10px;
    
}


.cart-icon {
    vertical-align: middle; /* Align the cart icon vertically */

    width: 40; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
}

.container .box-container .box .btn:hover{
    letter-spacing: 1px;
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

.container .box-container .box:hover {
    transform: translateX(10px); /* Move the box 10 pixels to the right on hover */
}

.container .box-container .box:hover {
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03) translateX(10px);
}

@media (max-width:768px){
    .container{
        padding:20px;
    }
}